.encabezados{
   display: grid;
   grid-template-areas: "nombre apellido telefono rut tipo algo algo";
   gap: 1rem;
   border-bottom: 1px solid black;
   margin-bottom: 2rem;
   padding-bottom: 1rem;
}
.encabezado{
    width: 8rem;
}
.lista{
    display: grid;
    grid-template-areas: "nombre apellido telefono rut tipo select borrar";
    align-items: center;
    gap: 1rem;
}
h3{
    text-align: center;
    margin-bottom: 4rem;
}
.celda{
    width: 13rem;
}
.nombre{
    grid-area: nombre;
}
.apellido{
    grid-area: apellido;
}
.telefono{
    grid-area: telefono;
}
.rut{
    grid-area: rut;
}
.tipo{
    grid-area: tipo;
}